caption{
    font-weight: 600;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}

tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
    text-align: center;
    font-weight: 1;
}
td{
    border:1px solid black ;
}

.horas{
text-align: center;
}
.plazas{
    text-align: center;
    background-color: rgb(241, 241, 241);
}
.horario{
    text-align: center;
}