@font-face {
    font-family: 'Kristen ITC' ;
    src: url(./fonts/kristen-itc.ttf);
}

p{
    width: 800px;
    height: 565px;
    padding: 100px, 50px;
    border-radius:50px ;
    border: 0px;
    text-align: center;
    font-family: 'Kristen ITC', 'Berlin Sans FB', Arial;
    color: white;
    font-size: 35pt;
    font-variant: small-caps;
    background-image: url(./img/fondo_jovenes.png), url(./img/fondo_trama.png);
    background-size: 80%, 100%;
    background-position: bottom, center;
    background-repeat: no-repeat;
  
}

