table{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-collapse: collapse ;
}
td,tr{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16pt;
}

.a >.blanco{
    background-color: white;
}
.a:nth-child(odd){
 background-color: rgb(255, 135, 79);
}

.a td:nth-child(even){
    background-color: rgb(255, 209, 110);
}

.b:nth-child(even){
    background-color: rgb(255, 135, 79);
}
.b td:nth-child(odd){
    background-color: rgb(255, 209, 110);
}

.c:nth-child(odd){
 background-color: rgb(255, 135, 79);
}

.c td:nth-child(even){
    background-color: rgb(255, 209, 110);
}

.d:nth-child(even){
 background-color: rgb(255, 135, 79);
}

.d td:nth-child(odd){
    background-color: rgb(255, 209, 110);
}

.e:nth-child(odd){
 background-color: rgb(255, 135, 79);
}

.e td:nth-child(even){
    background-color: rgb(255, 209, 110);
}

.f:nth-child(even){
 background-color: rgb(255, 135, 79);
}

.f td:nth-child(odd){
    background-color: rgb(255, 209, 110);
}

.g:nth-child(odd){
 background-color: rgb(255, 135, 79);
}

.g td:nth-child(even){
    background-color: rgb(255, 209, 110);
}

.h:nth-child(even){
 background-color: rgb(255, 135, 79);
}

.h td:nth-child(odd){
    background-color: rgb(255, 209, 110);
}

.j:nth-child(odd){
 background-color: rgb(255, 135, 79);
}

.j td:nth-child(even){
    background-color: rgb(255, 209, 110);
}

.k:nth-child(even){
 background-color: rgb(255, 135, 79);
}

.k td:nth-child(odd){
    background-color: rgb(255, 209, 110);
}