@font-face {
    font-family: "elegante";
    src: url(./fonts/Elegant\ DEMO.otf);
}
@font-face {
    font-family: "rimaI";
    src: url(./fonts/RomanSerif.ttf);
}
@font-face {
    font-family: "rimaII";
    src: url(./fonts/BodoniXT.ttf);
}
@font-face {
    font-family: "rimaIII";
    src: url(./fonts/ADega\ Serif\ Regular.otf);
}
body{
    background-color: rgb(255, 254, 181);
    text-align: center;
    font-size: 13pt;
}

h1{
    font-family: "elegante";
    font-size: 44pt;
}

p.rimaI{
    font-family: "rimaI";
    font-weight: 575;
    letter-spacing: 1pt;
    font-style: italic;
}

p.rimaII{
    font-family: "rimaII";
    letter-spacing: 1pt;
    font-weight: 20;
    font-style: italic;
}

p.rimaIII{
    font-family: "rimaIII";
    font-weight: 570;
    font-style: italic;
}