@font-face{
    font-family: 'globo' ;
    src: url(./fonts/Valoon.ttf);
}
@font-face{
    font-family: 'nube';  
    src: url(./fonts/MCKLSH__.ttf);
}

@font-face{
    font-family:'titcomic';
    src: url(./fonts/Chubby\ Relief.ttf);
}
@font-face{
    font-family: 'confondo';
    src: url(./fonts/Sketch\ 3D.otf);
}
@font-face {
    font-family: 'donut';
    src: url(./fonts/Kids\ Donuts.otf);
}
@font-face {
    font-family: 'dragon';
    src: url(./fonts/DRAGON\ KIDS.otf);
}
@font-face {
    font-family: 'bubble';
    src: url(./fonts/BubbleWaterRegular.ttf);
}
p{
    text-align: center;
    font-size: 70pt;
    letter-spacing: 200px;
}

body{
    background-color: rgb(211, 245, 255);
}
h1{
    text-align: center;
    font-family: 'confondo','Arial', 'serif' ;
    color: rgb(0, 109, 128);
    font-size: 45pt;
}
.letraA{
    color: rgb(0, 68, 255);
    font-family: 'globo','Arial', 'serif';
}
.letraB{
    color: brown;
    font-family: 'donut','Arial', 'serif';
}
.letraC{
    color: blueviolet;
    font-family: 'titcomic','Arial', 'serif';
}
.letraCH{
    color: rgb(255, 0, 0);
    font-family: 'confondo','Arial', 'serif';
    letter-spacing: normal;
}
.letraD{
    color: rgb(2, 211, 19);
    font-family: 'globo','Arial', 'serif';    
}
.letraE{
    color: tomato;
    font-family: 'bubble','Arial', 'serif';
}

.letraF{
    color: burlywood;
    font-family: 'dragon','Arial', 'serif';
}
.letraG{
    color: deeppink;
    font-family: 'confondo','Arial', 'serif';
}

.letraH{
    color: crimson;
    font-family: 'donut','Arial', 'serif';
}

.letraI{
    color: darkgoldenrod;
    font-family: 'confondo','Arial', 'serif';
}

.letraJ{
    color: cornflowerblue;
    font-family: 'globo','Arial', 'serif';
}

.letraK{
    color: darkgreen;
    font-family: 'nube',"Arial","Serif";
}

.letraL{
    color: darkorange;
    font-family: 'donut','Arial', 'serif';
}

.letraLL{
    color: darkmagenta;
    font-family: 'titcomic',"Arial","Serif";
    letter-spacing: normal;
}

.letraM{
    color: darksalmon;
    font-family: 'confondo','Arial', 'serif';
}

.letraN{
    color: fuchsia;
    font-family: 'globo','Arial', 'serif';
}

.letraÑ{
    color: rgb(255, 59, 52);
    font-family: 'nube','Arial', 'serif';
}

.letraO{
    color: indigo;
    font-family: 'donut','Arial', 'serif';
}

.letraP{
    color: sienna;
    font-family: 'confondo','Arial', 'serif';
}

.letraQ{
    color: brown;
    font-family: 'titcomic','Arial', 'serif';
}

.letraR{
    color: rgb(2, 102, 19);
    font-family: 'dragon','Arial', 'serif';
}

.letraRR{
    color: blue;
    font-family: 'nube',"Arial","Serif";
    letter-spacing: normal;
}

.letraS{
    color: chocolate;
    font-family: 'confondo','Arial', 'serif';
}

.letraT{
    color: violet;
    font-family: 'bubble','Arial', 'serif';
}

.letraU{
    color: seagreen;
    font-family: 'nube','Arial', 'serif';
}

.letraV{
    color: darkred;
    font-family: 'globo','Arial', 'serif';
}

.letraW{
    color: darkolivegreen;
    font-family: 'confondo','Arial', 'serif';
}

.letraX{
    color: chocolate;
    font-family: 'donut','Arial', 'serif';
}

.letraY{
    color: mediumvioletred;
    font-family: 'globo','Arial', 'serif';
}

.letraZ{
    color: dodgerblue;
    font-family: 'titcomic','Arial','serif';
}