span {
    color: red;
}

fieldset {
    display: flex;
    width: 65%;
    border: none;
}

fieldset:last-child{
    border-top: 1px solid gray;
}

.titulo {
    display: flex;
    width: 12%;
}

.doscolumnas {
    display: flex;
    justify-content: space-between;

}

.doscolumnas .div2 {
    margin-top: 57px;

}

.doscolumnas>div {
    width: 50%;
    margin-right: 30px;
    margin-bottom: 10px;
}

.enviar input {
    margin-left: 500px;
}