table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 900px;
    border-collapse: collapse
    
}
tbody{
    margin: 200px;
}
.totales{
    background-color: white;
    border-bottom: 1px solid black;
    
}

.equipos{
    border-bottom: 3px solid red ;
}



td {   
    text-align: center;
    padding: 3px;
    border-bottom: 3px solid white;
    
}
.champion{
    border-left: 3px solid rgb(0, 19, 128);
   
}
.uefa{
    border-left: 3px solid orange;
}
.descenso{
    border-left: 3px solid red ;
}
.conference{
    border-left: 3px solid green ;
}
.posicion{
    border-left: 3px solid grey;
}

tbody tr:nth-child(odd){
    background-color: rgb(233, 232, 232);

}

tbody td:nth-child(3){
    text-align: left;
}


tfoot{    
    text-align: left;
}
