/*COLORES DEL DOCUMENTO

	FONDOS AMARILLOS: #FEDC00	

	LETRAS BLANCAS SOBRE FONDO AMARILLO: 
	color: white;

	LETRAS AMARILLAS SOBRE FONDO BLANCO:
	color: #b39b00;

  FUENTES:
    Todo el documento con:
    font-family: Calibri;
*/

/*ESTILO MÍNIMO PARA EL MENÚ

	list-style-type: none;
	font-size: 16pt;
	text-align: center;	

*/
/*ESTILO MÍNIMO PARA LA BARRA LATERAL
	font-size: 16pt;
	list-style-type: none;
*/

/*DIMENSIONES CAJA DE PUBLICIDAD:
	Ancho 90% de la barra lateral
	Altura 120px
	Margen interior 5%
	Separación con otras cajas 10px
	Texto Centrado
*/

/*ESTILOS PARA EL H3
	font-size: 20pt;
	font-weight: normal;
	Separación vertical de 4px con otras cajas
*/
/*ESTILOS PARA EL H4
	font-size: 10pt;
	font-weight: normal;
	Separación vertical de 4px con otras cajas
*/

/*TEXTOS EN LAS FICHAS DE PRODUCTOS
	COLOR DE FONDO #FEDC00
	Descripción: 12pt
	Precio: 18pt
	Botón: 14pt
*/

/*ESTILOS PARA EL PIE DE PÁGINA
	COLOR DE FONDO #FEDC00
	color: white;
	text-align: center;
	font-size: 12pt;
*/


*{
    box-sizing: border-box;
}

#pagina {
    width: 85%;
    margin: 0 auto;
    min-width: 650px;
}

#pagina header {
    width: 100%;
    background-color: #FEDC00;
}

#pagina header img{
	width: 100%;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
}

nav{
    display: flex;
    background-color:  #FEDC00;
	padding-top: 17px;
}
 nav li{
    margin-left: 10px;
    color: white;
	list-style-type: none;
	font-size: 16pt;
	text-align: center;
	justify-content: space-between;
	flex-direction: row;
 }
 #pagina #informacion{
    display: flex;
    align-items:stretch ;
    flex-direction:row ;
    justify-content: space-between;
 }

 #pagina #informacion #izquierda{
    width: 25%;
    flex: 1 1 25%;
    background-color: white;
    color: white;
    text-align: center;
    font-size: 14px;
}
#pagina #informacion #izquierda li{

	width: 90%;
    text-align: center;
     margin: 15px auto;
}


#pagina #informacion #izquierda .publicidad{
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 70px;
	font-size: 20px;
    padding-top: 5px;
	color: #b39b00;
    height: 120px;
    margin: 10px;
	border:  #FEDC00;
}

#pagina #informacion #izquierda .publicidad {
    font-size: 20px;
    padding-top: 5px;
    color: black;
    width: 75%;
    margin: 10px;
}
#pagina #informacion main{
    flex: 1 1 60%;
    padding: 20px 3%;
 }


 #pagina footer{
    background-color: #FEDC00;
    display: flex;
    flex: 1 1 50%;
	color: white;
	text-align: center;
	font-size: 12pt;
	padding-left: 20%;
}
#pagina #informacion main{
    width: 50%;
}
