@font-face {
    font-family:'UrbanElegance';
    src: url(../fonts/UrbanElegance.ttf);
}
body{
    background-color: rgb(242, 242, 242);
}
h1{
    color: rgb(0, 68, 98) ;
    font-size: 2em;
    font-family: 'Helvetica';
    letter-spacing: 7pt;
}

h2{
    font-family: 'UrbanElegance', 'Arial';
    font-size: 1.3em;
    color: rgb(114, 114, 114);
}

p.fecha{
    text-transform: uppercase;
    font-size: 0.7em;
    font-style: bold justify;
    color: rgb(142, 142, 142);
    letter-spacing: -12;
    text-align: right ;
}

div{
    text-align: center;
}

p{
    font-family: 'Times New Roman', Verdana, Georgia, serif;
    font-size: 0.95em;
    color: rgb(124, 124, 124);
}

span{
    font-style: italic;
}