*{
    box-sizing: border-box;
}
body{
    background-color: lightslategray;
}
nav {
    width: 85%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    padding-left: 0px;
}

nav>ul{
    display: flex;
    align-items: start;
}

nav ul a li{ 
color: white;
flex: 1 1 auto;
padding: 10px 0.5%;
border: 1px solid lightslategray;
border-bottom: 0px;
text-align: center;
background-color: lightblue;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
text-decoration: none;
}

nav ul a  {
   text-decoration: none;
   flex: 1 1 auto;
}


nav ul a:visited li  {
    text-decoration: none;
}

nav ul a:hover li{
    background-color: white;
    color: black;
}


section {
    width: 85%;
    margin: 0 auto;
    display: none;
    background-color: rgba(250, 237, 237, 0.952);
}
p{
    margin-top: -16px;
}

section:target {
    display: inherit;
}

span{
    font-weight: bolder;
}