@font-face {
    font-family:"titcurriculum" ;
    src: url(./fonts/Catchye.otf);
}
body{
    background-color: rgb(161, 247, 149);
}
h1{
    text-align:center;
    text-transform:uppercase;
    font-family: "titcurriculum";
    letter-spacing: 3pt;
}

span{
    font-size: 24pt;
    font-weight: 515;
    font-family: "titcurriculum";
    letter-spacing: 2pt;
} 

p{
    text-align: center;
    font-size: 13pt;
}
