*{
    box-sizing: border-box;
}
body{
    background-color: rgb(167, 166, 166);
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(27, 27, 27);
}

nav ul{
    color: black;
    list-style-type: none;
    padding-left: 0px;
    margin: 0 auto;
    width: 50%;
    background-color: rgb(27, 27, 27);

}
nav ul li{
    padding: 20px;
}

nav>ul{
            
    display: flex;
   align-content: center;
   
}
nav ul li{
    display: flex;
    flex: 1 1 auto;
    padding: 15px 0%;
    color: rgb(134, 134, 134);
}
nav ul li:hover{
 color: white;
}
nav ul li i:hover{
    color: white;
}





