*{
    box-sizing: border-box;
}

#pagina{
    width: 90%;
    margin: 0 auto;
    min-width: 650px;
}

#pagina header img{
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

#pagina #contenido{
    display: flex;
}

#contenido nav{
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;

    background-color:rgb(255, 214, 163);
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 20px 3%;
}

#contenido main{
    flex: 1 1 60%;
    padding: 20px 3%;
    background-color: bisque;
}
a{
    text-decoration: none;
}

#pagina footer{
    background-color:rgb(252, 193, 122);
    display: flex;
}

#envolvente footer #piezizq{
    padding: 10px 15%;
    flex: 1 1 50%;
}