nav li{
    list-style: none;
    width: 50px;
    height: 50px;
    background-image: url(../../img/DashIcons.jpg);
}
nav li:hover{
    background-image: url(../../img/DashIcons-modified.jpg);
    transition: 0.5s;
}

nav li#Inicio{
    background-position-x: -115px ;
}

nav li#Nuevo{
    background-position-x: -53px ;
    background-position-y: -55px;
}


nav li#Editar{
    background-position-x: 7px;
    background-position-y: -55px ;
}


nav li#Visualizar{
    background-position-x: -53px;
    background-position-y: -165px;
}

nav li#Imagen{
    background-position-y: -55px;
    background-position-x: -413px;
}