table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    border-collapse: collapse
    
}

.totales{
    background-color: white;
    border-bottom: 1px solid black;
}

.equipos{
    border-bottom: 3px solid rgb(255, 0, 0) ;
}



td {   
    text-align: center;
    padding: 5px;
}
.champion{
    border-left: 2px solid rgb(0, 19, 128);
}
.uefa{
    border-left: 2px solid orange;
}
.descenso{
    border-left: 2px solid red ;
}
.conference{
    border-left: 2px solid green ;
}
.posicion{
    border-left: 2px solid grey;
}

tr:nth-child(odd){
    background-color: rgb(233, 232, 232);
}
